Repository spacebarchat/server, pull requests merged in 2022-08, with the labels that each got.

#792 Add local disk caching for fetched assets
  .gitignore
  api/assets/inline-plugins/autoRegister.js
  api/assets/inline-plugins/fosscord-login.js
  api/client_test/index.html
  api/package.json
  api/src/middlewares/TestClient.ts
  api/src/util/entities/AssetCacheItem.ts
  api/src/util/index.ts
  bundle/package-lock.json
  fosscord-server.code-workspace
  package-lock.json
Labels: enhancement, util, Builds, infrastructure

#809 add discriminator to user modify schema
  api/assets/schemas.json
  api/src/routes/users/@me/index.ts
Labels: bug, api

#804 Move user notes into separate table
  api/src/routes/users/@me/notes.ts
  util/src/entities/Note.ts
  util/src/entities/User.ts
  util/src/entities/index.ts
Labels: enhancement, infrastructure

#817 Add utility scripts
  .gitignore
  bundle/package.json
  bundle/scripts/build.js
  bundle/scripts/depcheck.js
  bundle/scripts/depclean.js
  bundle/scripts/utils.js
Labels: enhancement, bundle, Builds

#827 Update index.ts
  api/src/routes/channels/#channel_id/messages/index.ts
Labels: bug, gateway

#830 Bot control panel
  .gitignore
  api/client_test/developers.html
  api/src/routes/applications/#id/bot/index.ts
  api/src/routes/applications/#id/index.ts
  api/src/routes/applications/#id/skus.ts
  api/src/routes/applications/index.ts
  bundle/package.json
  gateway/src/opcodes/Identify.ts
  util/src/entities/Application.ts
  util/src/entities/Member.ts
  util/src/entities/User.ts
  util/src/interfaces/Event.ts
  util/src/migrations/mariadb/1660130586602-updated-applications.ts
  util/src/migrations/mariadb/1660131942703-apps_nullable_team.ts
  util/src/migrations/postgres/1660130561959-updated-applications.ts
  util/src/migrations/sqlite/1660130536131-updated-applications.ts
Labels: enhancement, route, api

#735 Skip ALLOW_INVALID_CHANNEL_NAMES checks for categories
  src/util/entities/Channel.ts
  src/util/util/InvisibleCharacters.ts
Labels: enhancement, api

#789 Respect guild_id and with_mutual_guilds in /users/:id/profile
  src/api/routes/users/#id/profile.ts
Labels: enhancement, api

#869 Tiny changes
  src/api/middlewares/TestClient.ts
  src/api/routes/store/published-listings/skus/#sku_id/subscription-plans.ts
  src/util/config/types/SecurityConfiguration.ts
  src/util/util/MFA.ts
Labels: enhancement
